alembic==1.6.5
appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
black==19.3b0
click==8.0.1
demo-api==0.0.1
-e git+https://github.com/ivan-gerov/element_human_task_2.git@8b9f43b8ab0b87b761c090c63ec55abd9126a9f6#egg=demo_etl
greenlet==1.1.0
importlib-metadata==4.5.0
Mako==1.1.4
MarkupSafe==2.0.1
mirakuru==2.4.1
more-itertools==8.8.0
mypy==0.720
mypy-extensions==0.4.3
numpy==1.21.0
packaging==20.9
pandas==1.2.5
pluggy==0.13.1
port-for==0.6.1
psutil==5.8.0
psycopg2-binary==2.8.3
py==1.10.0
pyparsing==2.4.7
pytest==5.0.1
pytest-mock==1.10.4
pytest-postgresql==2.1.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.19
sqlalchemy-stubs==0.4
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
wcwidth==0.2.5
zipp==3.4.1
